[Server]
Host = localhost

[Collector]
HeartbeatPeriod = 10

# The minimum period between reports. If no sensor values have arrived, there will be no report.
ReportPeriod = 3

HeartbeatHost = localhost
MeasurementsHost = localhost

ReportRetryDelay = 10

[Meta]
Location = {{location}}
