[Unit]
Description=Anyscale Sensors Collector service

[Service]
WorkingDirectory={{ install_path }}
ExecStart={{ install_path }}/run_collector.sh
User={{services_username}}
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
