[Unit]
Description=Anyscale Sensors Heartbeat service

[Service]
WorkingDirectory={{ install_path }}
ExecStart={{ install_path }}/run_heartbeat.sh
Restart=always
User={{services_username}}

[Install]
WantedBy=multi-user.target
