[Unit]
Description=Anyscale Sensors I2C service

[Service]
WorkingDirectory={{ install_path }}
ExecStart={{ install_path }}/run_i2c.sh
User={{services_username}}
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
