[Unit]
Description=Anyscale Sensors Measurements Receiver service

[Service]
ExecStart={{ install_path }}/run_measurements.sh
WorkingDirectory={{ install_path }}
Restart=always
User={{services_username}}

[Install]
WantedBy=multi-user.target
