[Unit]
Description=Anyscale Sensors MQTT service

[Service]
ExecStart={{ install_path }}/run_mqtt.sh
WorkingDirectory={{ install_path }}
Restart=always
User={{services_username}}

[Install]
WantedBy=multi-user.target
