[Unit]
Description=Anyscale Sensors REST API service
WorkingDirectory={{ install_path }}

[Service]
ExecStart={{ install_path }}/run_restapi.sh
WorkingDirectory={{ install_path }}
Restart=always
User={{services_username}}

[Install]
WantedBy=multi-user.target
