[Unit]
Description=Anyscale Sensors Temperature sensor service

[Service]
WorkingDirectory={{ install_path }}
ExecStart={{ install_path }}/run_sensor_temperature.sh
User={{services_username}}
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
