[Unit]
Description=Anyscale Sensors Light Sensor service

[Service]
WorkingDirectory={{ install_path }}
ExecStart={{ install_path }}/run_sensor_light.sh
User={{services_username}}
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
