[Unit]
Description=Anyscale Sensors Motion Sensor service

[Service]
WorkingDirectory={{ install_path }}
ExecStart={{ install_path }}/run_sensor_motion.sh
User={{services_username}}
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
