[Unit]
Description=Anyscale Sensors Dummy service

[Service]
WorkingDirectory={{ install_path }}
ExecStart={{ install_path }}/run_sensor_dummy.sh
User={{services_username}}
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
