[Unit]
Description=Anyscale Sensors SSH Tunnels service
After=network-online.target

[Service]
WorkingDirectory={{ install_path }}
ExecStart=/usr/bin/ssh -L 50030:localhost:50030 -L 50040:localhost:50040 -N {{tunnel_username}}@{{server_hostname}} -o ExitOnForwardFailure=yes StrictHostKeyChecking=no
User={{services_username}}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
