[Unit]
Description=Anyscale Sensors Upload service

[Service]
ExecStart={{ install_path }}/run_upload.sh
WorkingDirectory={{ install_path }}
Restart=always
User={{services_username}}

[Install]
WantedBy=multi-user.target
