[Unit]
Description=Anyscale Sensors Websockets service

[Service]
ExecStart={{ install_path }}/run_websockets.sh
WorkingDirectory={{ install_path }}
Restart=always
User={{services_username}}

[Install]
WantedBy=multi-user.target
