/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* --- */

body {
    font-family: Georgia, serif;
    font-weight: lighter;
    color: #333;
    background-color: #f0f3f3;
    line-height: 125%;
}

h1, h2 {
    font-weight: normal;
    font-size: 2em;
    margin: 1em 0;
    text-align: center;
}

h2 {
    padding-top: 1em;
    border-top: 1px solid #ccc;

    font-style: italic;
    font-size: 1.2em;
}

p, ul, ol{
    margin: 0.5em 0;
}

ul.hosts li {
    list-style: disc inside;
}

#page-wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 640px;
}

.list-sensors:after {
    display: block;
    clear: both;
    content: ' ';
}

.item-sensor {
    display: block;
    float: left;
    background: #c9f0c6;
    border: 0.5px solid #f0f3f3;
    width: 160px;
    padding: 4px;
    position: relative;
    box-sizing: border-box;
}

.sensor-value {
    font-size: 2em;
    font-weight: bold;
    text-align:center;
    padding: 1em 0;
}

.sensor-value:after {
    font-size: 0.4em;
    font-weight: lighter;
    vertical-align: top;
}

.temperature .sensor-value:after {
    content: '\00b0 C';
}

.light .sensor-value:after {
    content: 'lux';
}

.sensor-kind, .sensor-time, .sensor-description {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 0.75em;
    text-align: right;
    margin: 0;
}

.sensor-kind {
    text-transform: uppercase;
}

.sensor-time {
    color: #666;
}

.sensor-description {
    display: none;

    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
    background-color:#fff;
    background-color:rgba(255,255,255,0.8);
}

.item-sensor:hover .sensor-description {
    display: block;
}

@media screen and (max-width: 712px) {
    .item-sensor {
        width: 100%;
    }

    .sensor-kind {
        text-align:left;
    }

    .sensor-value {
        padding: 0 0 0 0.5em;
        margin: 0;
    }

    .sensor-description {
        height: 100%;
    }
    
}
