@import 'reset.css';

body {
    font-family:sans-serif;
}

#app {
    width: 90%;
    max-width:1000px;
    margin: 0 auto;
}

#hosts, #timeline, #gauges {
    position: relative;
    margin:4px;
    box-sizing:border-box;
    width: 100%;
}

#hosts ul {
    text-align: center;
}

#hosts li {
    display: inline-block;
    cursor: pointer;
    font-weight:bold;
    color:#f66;
    padding:4px;
    margin:2px;
}

#hosts li.period {
    color:#666;
}

#hosts li.alive {
    color: #3c3;
}

#hosts li.selected {
    margin-bottom: 0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

#hosts li:hover {
    background-color: #eee;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#timeline {
    padding-bottom: 25%;
}

#timeline path {
    fill: none;
}

#timeline .line {
    stroke-width:6px;
    stroke-linecap:round;
}

#timeline .extrapolated {
    stroke-dasharray:1;
    stroke-width:2px;
}

#gauges {
    padding-bottom:34%;
    font-size: 1.2em;
}

#gauges .gauge-type {
    font-weight: bold;
}

#gauges .gauge-value {
    font-weight: bold;
    font-size: 1.5em;
}

#timeline .axis .domain, #timeline .axis .tick line {
    stroke-width: 1px;
    stroke: #000;
}
#timeline .axis .tick text {
    font-size: 0.8em;
}